<nav class="navbar navbar-inverse navbar-fixed-top ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Personal Asset Manager</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/create">Register</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Financial planning <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Why plan</a></li>
                <li><a href="#">Planning process</a></li>
                <li><a href="#">Contact us</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Create a free account</li>
                <li><a href="/create">Register</a></li>
                <li><a href="#">Login</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" action="{% url 'users:login' %}" method="POST">
          <!-- <div class="form-action form-group"> -->
          	<input type="hidden" name="csrfmiddlewaretoken" value="TWtJyBrx9L8VGXyXa0e8JYQQIYouq513">
          	             
                	    <div class="form-group">
                            <input class="form-control" id="id_username" maxlength="254" name="username" placeholder="username" type="text">
                        </div>
                        
                	    <div class="form-group">
                            <input class="form-control" id="id_password" name="password" placeholder="password" type="password">
                        </div>
                        
          <!-- </div> -->

            <button type="submit" class="btn btn-warning">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>